<div class="container" [hidden]="type === null">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert" [ngClass]="{'alert-success': type === 'success', 'alert-danger': type === 'error' }">
                {{ message }}
            </div>
        </div>
    </div>
</div>