<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">DemoGram</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
      <a class="nav-link" routerLink="/allposts">All Posts</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
      <a class="nav-link" routerLink="/following">Following</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
      <a class="nav-link" routerLink="/favorites">Favorites</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
      <a class="nav-link" routerLink="/mypost">My Posts</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/signup">Sign Up</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
      <a class="nav-link" routerLink="#">Logout</a>
    </li>
  </ul>
</nav>
